@import
@import "/normalize.css";
*{
  margin:0;
  padding:0;
  box-sitzing:border-box;
}

html{
  --naranja: rgb(245,161,82);
  --blanco: white;
  --negro: black; 
  --grey: grey;
  font-size: 40px;
}
h1 {
  background: ;
}
body{
  background: var(--blanco);
  font_family: Roboto, sans-serif;
}
main > *,
header {
  pading: 3rem;
}
main > section {
  padding: 2rem 0;

}


button {
  background: var(--negro);
  color: var(--blanco);
  padding0.5rem 1 rem;
  margin-top: 1rem;
}
/*header*/
body > header {
  background - image: url(/img/fabrica.jpg) ;
  background-repeat; no-repeat:
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-item: center;
}

body > header h1 {
  margin-top: 0;
}

body > header nav ul li {
  text-align: center;
} 

body > header nav ul li a{
  color: var(--negro);
  text-decoration: none;
  font-weight: 700;
} 

/*section robots*/
section#robots ul{
  list-style: none;
}

section#robots article{
  backgorund: var(--negro);
  color: var(--blanco);
  margin-bottom: 1rem;
}

section#robots article img{
  height: 20rem;
  object-fit:cover;
}

section#robots article h1{
  margin-top: 1rem;
  object-fit:cover;

section#robots article p{
  padding: 1rem;
}

section#robots article a{
  background: var(--grey);
  color: var(--negro);
  text-decoration: none;
  display: black;
  text-align: center;
  font-weight: 100;
  padding: 1rem 0;

}

/*Formulario*/
section#formulario {
  background: var(--blanco);

}

section#formulario h2{
  background: var(--naranja);
  margin-bottom: 2rem;
  font-weight: 700;
}
section#formulario form fieldset{
  border: 0;
}
section#formulario form input,
section#formulario form select,
section#formulario form textarea {
  background: var(--naranja);
  border: 2px; solid var(--naranja);
  border:2px solid var(--negro);
  width: 100%;
  padding: 0.5rem;

}
section#formulario form label:last-of-type{
  
}