* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: stretch;
}

header {
  background: rebeccapurple;
  color: white;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: cornflowerblue;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*   flex-direction: row-reverse; */
  align-items: center;
}

img {
  max-width: 100%;
}

article {
  margin: 1rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(248, 248, 248);
  flex-basis: 10rem;
  height: fit-content;
}

article p {
  padding: 1rem;
}

/* article:last-of-type {
  flex-grow: 2;
} */

/* article:nth-last-of-type(2) {
  flex-grow: 1;
}
 */
